<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .bg-4 {
      background-color: #2f2f2f;
      color: #ffffff;
    }
  </style>
</head>
<body>





{% block content %}
{% endblock %}


<footer class="container-fluid bg-4 text-center">
  <p>Tôi là Công Trần </p>
  <p>Facebook Liên hệ : <a href="https://www.w3schools.com">congtran</a> </p>
  <p>Phone Liên hệ : 0123456789 </p>
    <p>Email Liên hệ : congtranadmin@gmail.com </p>


</footer>
</body>
</html>